/* All Pages Elements*/
*
{
  box-sizing: border-box;
}
img
{
  max-width:100%;
}
html
{
  overflow-x:hidden
}
body
{
  font-family: verdana;
}
a
{
  color: inherit;
}
a:hover
{
  color: blue;
}
p
{
  font-size: 0.0625em;
  color: #C6C624;
  padding-left: 15px;
  padding-right: 15px;
}
h1
{
  font-size: 2em;
  font-weight: bold;
  color: #C6C624;
}
h2, h3, h4, h5, h6
{
  font-style: italic;
  color: #C6C624;
}
h2
{
  font-size: 1.75em;
}
h3
{
  font-size: 1.625em;
}
h4
{
  font-size: 1.5em;
}
h5
{
  font-size: 1.25em;
}
h6
{
  font-size: 1.125em;
}
li
{
  font-size: 1em;
  color: #C6C624;
}

/* Parallax */
html {
    height:100%;
}
.parallax {
  font-family: Verdana;
  background-color:gray;
  margin:0;
  background: url("djParallax.jpg") no-repeat center center;
  background-attachment:scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    }
.parallax:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background: url("djParallax.jpg") center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

/* Turn off parallax scrolling based on device used */
/*
@media only screen and (max-device-width: 480px) {
  .parallax {
    background-attachment: scroll;
  }
}
*/

/* Header */
header
{
  text-align: center;
  grid-area: header;
}
.headerpic {
    grid-area:headerpic;
    padding:5px;
    height:12vmax;
    animation: logo .5s;
}
.headertext
{
  grid-area: headertext;
  text-align: center;
  animation: words .5s;
}
.headerwrapper
{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 25% auto;
  grid-template-areas:
    "headerpic headertext";
}
.headerwrapperReview
{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 25% auto 25%;
  grid-template-areas:
    "headerpic headertext reviewImage";
}
.reviewImage
{
  grid-area: reviewImage;
}
.reviewImage img
{
  width: 80%;
  display: block;
  margin: 20px 0 10px 0;
}
header h1 {
  font-size:2.5vw;
}
@keyframes logo {
   0% {
      opacity: 0;
      transform:  translatey(-1em);
   }
   100% {
      opacity: 1;
      transform: translatey(0);
   }
}
@keyframes words {
   0% {
      opacity: 0;
      transform: translateX(1em);
   }
    50% {
      opacity: .5;
      transform: translateY(.1em);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}

/* Nav */
nav
{
  grid-area: nav;
}
.navTable
{
  margin-right: auto;
  margin-left: auto;
}
.navTable p
{
  font-size: 1em;
}
#twitter
{
  height:15.9vmax;
}
#facebook
{
  height:12vmax;
}

/* Menu Icon */
.menu {
  display: inline-block;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 2.1875em;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
/* Fade out the second bar */
.change .bar2 {opacity: 0;}
/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* Side Nav */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  max-width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */
.sidenav a {
  margin-top: 20px;
  padding: 3% 3% 3% 15%;/*Last was 28*/
  text-decoration: none;
  font-size: 1.5625em;
  color: white;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover
{
  color: blue;
}
#myDropdown a:hover
{
  color: blue;
}
#myDropdownEvents a:hover
{
  color: blue;
}

/* Dropdown */
/* Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
  background-color: #111;
  margin-top: 20px;
  padding: 3% 3% 3% 15%;/*Last was 28*/
  text-decoration: none;
  font-size: 1.15em;
  color: white;
  display: block;
  transition: 0.5s;
}

/* Dropdown button on hover*/
.dropbtn:hover {
  color: #4CBB17;
}
.dropbtn:focus {
  color: white;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 160px;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: inherit;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover
{
  background-color: blue;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Full Page Push */
#main {
  transition: margin-left .5s;
  padding: 2px;
}

/* Main */
main
{
  grid-area: main;
  padding:5px;
}
main p
{
  font-size:1em;
}
/* Nested Main - index.html */
.topText
{
  grid-area: topText;
}
.topAudio
{
  text-align: center;
  grid-area: topAudio;
  margin-bottom: 5px;
}
.topAudio audio
{
  max-width: 100%;
}
.topVideo
{
  grid-area: topVideo;
}
.topVideo video
{
  max-width: 100%;
}
.bottomText
{
  font-size: 1.6em;
  font-style: italic;
  color: #C6C624;
  grid-area: bottomText;
}
.bottomText a
{
  text-decoration: underline;
}
.bottomText a:hover
{
  color: blue;
}
.bottomVideo
{
  grid-area: bottomVideo;
}
.bottomVideo video
{
  margin: 15px 0 0 0;
  max-width: 100%;
  padding-right: 5px;
}
.bottomAudio
{
  text-align: center;
  grid-area: bottomAudio;
}
.bottomAudio audio
{
  max-width: 100%;
  margin: 0 0 150px 0;
}

.leftText
{
  grid-area: leftText;
  text-align: left;
}
.middleText
{
  grid-area: middleText;
  text-align: left;
}
.rightText
{
  grid-area: rightText;
  text-align: left;
}
.bottomBar h2
{
  text-align: center;
}
.leftPic
{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  grid-area: leftPic;
}
.middlePic
{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  grid-area: middlePic;
}
.rightPic
{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  grid-area: rightPic;
}
figure {
  margin:auto;
}

/* Contact Main */
.contactText
{
  padding: 10px;
  grid-area: contactText;
}
.nestedForm
{
  grid-area: form;
}
form
{
  color: #C6C624;
}

/* Packages Main */
.packageText
{
  grid-area: packageText;
  text-decoration: underline;
}
.packageImage
{
  grid-area: packageImage;
}
.packageImage2
{
  grid-area: packageImage2;
}
.silver
{
  grid-area: silver;
}
.gold
{
  grid-area: gold;
}
.platinum
{
  grid-area: platinum;
}
.packageImage img
{
  width: 100%;
  display: block;
  margin-right: 25px;
}
.packageImage2 img
{
  width: 100%;
  display: block;
  margin-right: 25px;
  padding-right: 5px;
}
.nestedPackages2
{
  margin-left: 5px;
  color: #C6C624;
}
.packageReview
{
  margin-left: 5px;
}
.packageReviewText
{
  margin-left: 10px;
  grid-area: packageReviewText;
}
.packageReviewImage
{
  grid-area: packageReviewImage;
}
.packageReviewImage img
{
  width: 70%;
  display: block;
  float: right;
  margin-right: 25px;
}
.packageTextClass
{
  font-size: 1.1em;
}
#contactMePackage
{
  text-align: center;
  grid-area: contactMePackage;
  color: #C6C624;
}
#contactMePackage a:hover
{
  color: blue;
}
/* Events */
.eventsMain
{
  margin-left: 10px;
  grid-area: main;
}
.eventsAside
{
grid-area: aside;
}
.eventsAside p
{
  font-size: 1em;
}
.eventsSection
{
  margin-left: 10px;
  grid-area: section;
}
.eventsSection img
{
  width:100%;
}

/* Image Overlay */
.eventsSection {
  border-radius: 1px;
  padding: 10px;
    }
/* Weddings */
.weddingsEvents {
  position: relative;
}
.weddingsOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(2, 48, 32, 0.6); /*change to match your theme*/
  color: #C6C624;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.weddingsEvents:hover .weddingsOverlay {
  visibility: visible;
  opacity: 1;
}
.weddingsText {
  font-size: 3em;
  text-align: center;
  transition: .2s;
  transform: translateY(1em);
}
.weddingsImage:hover .weddingsText {
  transform: translateY(0);
}
/* School */
.schoolEvents {
  position: relative;
}
.schoolOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(2, 48, 32, 0.6); /*change to match your theme*/
  color: #C6C624;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.schoolEvents:hover .schoolOverlay {
  visibility: visible;
  opacity: 1;
}
.schoolText {
  font-size: 3em;
  text-align: center;
  transition: .2s;
  transform: translateY(1em);
}
.schoolImage:hover .schoolText {
  transform: translateY(0);
}
/* Corporate */
.corporateEvents {
  position: relative;
}
.corporateOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(2, 48, 32, 0.6); /*change to match your theme*/
  color: #C6C624;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.corporateEvents:hover .corporateOverlay {
  visibility: visible;
  opacity: 1;
}
.corporateText {
  font-size: 3em;
  text-align: center;
  transition: .2s;
  transform: translateY(1em);
}
.corporateImage:hover .corporateText {
  transform: translateY(0);
}
/* Special */
.specialEvents {
  position: relative;
}
.specialOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(2, 48, 32, 0.6); /*change to match your theme*/
  color: #C6C624;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}
.specialEvents:hover .specialOverlay {
  visibility: visible;
  opacity: 1;
}
.specialText {
  font-size: 3em;
  text-align: center;
  transition: .2s;
  transform: translateY(1em);
}
.specialImage:hover .specialText {
  transform: translateY(0);
}

/* Reviews */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 5px 5px 5px 40px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -40px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: -40px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* About Main */
.aboutImage img
{
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Story Main */
.storyText
{
  grid-area: storyText;
}
.storyImage
{
  grid-area: storyImage;
}
.storyImage img
{
  display: block;
}

/* Wedding */
.weddingsPageTextTitle
{
  grid-area: weddingsPageTextTitle;
}
.weddingsPageText
{
  grid-area: weddingsPageText;
}
.weddingsPageImage
{
  grid-area: weddingsPageImage;
}
.weddingsPageImage img
{
  display: block;
  margin: auto;
}
/* Gallery Main */
.gallery img {
  border: 1px solid white;
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
}
/* Add a hover effect (blue shadow) */
.gallery img:hover {
  transform: scale(1.5);
}
.gallery1
{
  grid-area:gallery1;
  margin-left: 60px;
}
.gallery2
{
  grid-area:gallery2;
}
.gallery3
{
  grid-area:gallery3;
  margin-right: 60px;
}
.gallery4
{
  grid-area:gallery4;
  margin-left: 60px;
}
.gallery5
{
  grid-area:gallery5;
}
.gallery6
{
  grid-area:gallery6;
  margin-right: 60px;
}

/* Footer */
footer
{
  width: 100%;
  grid-area: footer;
}
footer p
{
  font-size:1em;
  margin:0;
  text-align: center;
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation: none !important;
      transition: none !important;
      }
}

/*-----------------------mobile layout------------------------*/

.container1 /* Used for index.html */
{
  display: grid;
  background-image: radial-gradient(#041C08, black);
  grid-template-columns: 100%;
  grid-gap:.5em;
  margin: 100vh -1vw -1vw -1vw;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

/* Nested Main */
.topBar
{
  display: grid;
  grid-gap:.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "topText"
    "topAudio"
    "topVideo";
}

.middleBar
{
  display: grid;
  grid-gap:.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "bottomText"
    "bottomAudio"
    "bottomVideo";
}

.bottomBar
{
  display: grid;
  grid-gap:.5em;
  text-align:center;
  padding:1em;
  grid-template-columns: 100%;
  grid-template-areas:
    "leftText"
    "leftPic"
    "middleText"
    "middlePic"
    "rightText"
    "rightPic";
}

.nestedMain
{
  padding: 5px;
  display: grid;
  grid-gap:.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "topBar"
    "middleBar"
    "bottomBar";
}

.container2 /* Used for contact.html, packages.html, about.html, weddings.html */
{
  display: grid;
  background-image: radial-gradient(black, #041C08, black);
  grid-template-columns: 100%;
  grid-gap:.5em;
  margin: -1vw;
  padding: 15px;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

.nestedContact
{
  padding: 5px;
  display: grid;
  grid-gap:.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "contactText"
    "form";
}

.nestedPackages
{
  padding: 5px;
  display: grid;
  grid-gap:.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "nestedPackages1"
    "nestedPackages2";
}
.nestedPackages1
{
  padding: 5px;
  display: grid;
  grid-gap:.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "packageImage"
    "packageText"
    "packageImage2";
}
.nestedPackages2
{
  padding: 5px;
  display: grid;
  grid-gap:.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "silver"
    "gold"
    "platinum"
    "contactMePackage";
}
.packageReview
{
  padding: 5px;
  display: grid;
  grid-gap:.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "packageReviewTest"
    "packageReviewImage";
}

.nestedStory
{
  padding: 5px;
  display: grid;
  grid-gap:.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "storyText"
    "storyImage";
}

.weddingsNested
{
  padding: 5px;
  display: grid;
  grid-gap:.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "weddingsPageTextTitle"
    "weddingsPageText"
    "weddingsPageImage";
}

.gallery
{
  padding: 5px;
  display: grid;
  grid-gap:.5em;
  grid-template-columns: 100%;
  grid-template-areas:
    "gallery1"
    "gallery2"
    "gallery3"
    "gallery4"
    "gallery5"
    "gallery6";
}

.container3 /* Used for events.html, review.html*/
{
  display: grid;
  background-image: radial-gradient(black, #041C08, black);
  grid-template-columns: 100%;
  grid-gap:.5em;
  margin: -1vw;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "section"
    "footer";
}

/*-----------------------Tablet Media Query------------------------*/
@media only screen and (min-width: 480px)  {
  
  .container1 /* Used for index.html */
{
  grid-template-columns: 35% 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    }
    
  .navTable td
  {
    padding: 0 35px 0 35px;
  }
  #twitter
  {
    height:13.25vmax;
  }
  #facebook
  {
    height:10vmax;
  }
    
  /* Nested Main  - index.html */
  .topBar
  {
    grid-template-columns: 35% auto;
    grid-template-areas:
      "topVideo topText"
      "topVideo topAudio";
  }
  
  .middleBar
  {
    grid-template-columns: auto 35%;
    grid-template-areas:
      "bottomText bottomVideo"
      "bottomAudio bottomVideo";
  }
  .bottomBar
  {
    grid-template-columns: auto;
    grid-template-areas:
      "leftText"
      "leftPic"
      "middleText"
      "middlePic"
      "rightText"
      "rightPic";
  }
  
.topAudio
{
  align-items: center;
  margin: 2px 0 0 0;
}
.topAudio audio
{
  height: 5vmax;
  max-width: 100%;
}
video
{
  width: 480px;
  max-width:100%;
  min-height:270px;
}
video[poster]
{
  object-fit:cover;
}
.bottomAudio
{
  margin: 15px 0 0 0;
  align-items: center;
  margin: 2px 0 0 0;
}
.bottomAudio audio
{
  height: 5vmax;
  max-width: 100%;
}

.leftPic
{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.middlePic
{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rightPic
{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topVideo video
{
  max-width: 100%;
  margin-left: 15px;
}
.bottomVideo video
{
  margin: 15px 15px 0 0;
  max-width: 100%;
  padding-right: 5px;
}

.container2 /* Used for contact.html, packages.html, about.html, weddings.html */
{
  grid-template-columns: auto auto;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}

.nestedContact
{
  grid-template-columns: auto auto;
  grid-template-areas:
    "contactText form";
}

.packageReview
{
  grid-template-columns: auto auto;
  grid-template-areas:
    "packageReviewText packageReviewImage";
}

.nestedStory
{
  grid-template-columns: auto auto;
  grid-template-areas:
    "storyText storyImage";
}

.weddingsNested
{
  grid-template-columns: auto auto;
  grid-template-areas:
    "weddingsPageTextTitle weddingsPageImage"
    "weddingsPageText weddingsPageImage";
}

.gallery
{
  padding: 5px;
  display: grid;
  grid-gap:.5em;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "gallery1 gallery2 gallery3"
    "gallery4 gallery5 gallery6";
}

.container3 /* Used for events.html, review.html */
{
  display: grid;
  background-image: radial-gradient(black, #041C08, black);
  grid-template-columns: auto auto;
  grid-gap:.5em;
  margin: -1vw;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "aside aside"
    "section section"
    "footer footer";
}

  #menuX {
    display: none;
  }
  
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
}

/*-----------------------Desktop Media Query------------------------*/
@media only screen and (min-width: 960px)  {
  
  .container2 /* Used for index.html */
{
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
    }
    
  .navTable td
  {
    padding: 0 75px 0 75px;
  }
  #twitter
  {
    height:5.3vmax;
  }
  #facebook
  {
    height:4vmax;
  }
  
  /* Nested Main - index.html */
  .topBar
  {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "topVideo topText"
      "topVideo topAudio";
  }
  
  .middleBar
  {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "bottomText bottomVideo"
      "bottomAudio bottomVideo";
  }
  
  .bottomBar
  {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "leftText middleText rightText"
      "leftPic middlePic rightPic";
  }
  
  .container1 /* Used for contact.html, packages.html, about.html, weddings.html */
{
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}
.nestedPackages2
{
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "silver gold platinum"
    "contactMePackage contactMePackage contactMePackage";
}
.packageText
{
  padding: 5px;
  margin: 48px 35px 48px 35px;
}
.nestedPackages1
{
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "packageText packageImage packageImage2";
}

.container3 /* Used for events.html, review.html */
{
  display: grid;
  background-image: radial-gradient(black, #041C08, black);
  grid-template-columns: 1fr 35%;
  grid-gap:.5em;
  margin: -1vw;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "section aside"
    "footer footer";
}
  
}